1. Define a function that accepts a number and returns whether the no. is even or odd.

In [ ]:
num=int(input("Enter the value: "))
def compute(num):
  if num%2==0:
    print("This number is even")
  else:
    print("This number is odd")

Enter the value: 45

In [ ]:
compute(num)

This number is odd

2. Define a function to create and print a list where the value are square of numbers between 1 and 30 (both included)

In [ ]:
def Sq_num(i):
  for i in range(1,31):
    i=i**2
    print(i,end=" ")

In [ ]:
Sq_num(i)

1 4 9 16 25 36 49 64 81 100 121 144 169 196 225 256 289 324 361 400 441 484 529 576 625 676 729 784 841 900

3. Define a function, shut_down that takes one parameter. Then, if the shut_down function receives a value equal to yes, it should print "Shuttingt down". Alternatively, if value is equal to "no", then the function should print "Shut_down aborted". Finally, if shut_down gets anything other than those inputs, the function should print "Sorry".

In [ ]:
A= input("Enter the value:")
def shut_down(A):
  if A in "yes":
    print("Shutting down")
  elif A in "no":
    print("Shut_down aborted")
  else:
    print("Sorry")

Enter the value:no

In [ ]:
shut_down(A)

Shut_down aborted

4. Define a function called "by_three" that takes a parameter called number. If that the number is divisible by 3, "by_three" should print the cube of the number. Otherwise by three should be print false.

In [ ]:
num=int(input("Enter the value:"))
def by_three(num):
  if num%3==0:
    print("The number is",num**3)
  else:
    print("False")

Enter the value:12

In [ ]:
by_three(num)

The number is 1728

5. Define a function that takes a list and prints a new list with no duplication element gives in the first list

In [ ]:
My_List=[1,2,3,6,9,9,6,7,2,1,3,4,6,7]
def remove_duplicates(My_List):
  print(set(My_List))

In [ ]:
remove_duplicates(My_List)

{1, 2, 3, 4, 6, 7, 9}